* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-height: 100vh;
  font-family: Games, sans-serif;
  margin-top: 10%;
}
.container {
  height: 50%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.container header {
  margin-bottom: 20px;
}
.container header article {
  text-align: left;
  border-bottom: #000 solid 1px;
}
.container header p span {
  font-weight: 700;
  color: green;
}
.container #main-heading {
  color: gold;
  text-shadow: 2px 2px #000;
}
.hide {
  display: none;
}
#main-section img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px 0;
}
#main-content span,
#main-section #text-display {
  font-family: roboto, sans-serif;
}
#main-content {
  text-align: left;
}
#main-content span {
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
}
#main-section .button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #813c3c;
  border: 1px solid #000;
  font-size: 20px;
  font-family: Games, sans-serif;
  cursor: pointer;
  color: #fff;
  float: right;
  margin-top: 10px;
}

#main-section .button:hover {
  background-color: rgb(54, 219, 219);
  animation: animateBtn 1s linear infinite;
}

@keyframes animateBtn {
  0% {
    letter-spacing: 0;
  }
  25% {
    letter-spacing: 5px;
  }
}

#main-section .highscoreBtn {
  text-decoration: none;
}
#input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #813c3c;
  border: 1px solid #000;
  font-size: 20px;
  color: #fff;
  float: right;
  margin-top: 20px;
}
@media (min-width: 775px) {
  body {
    margin: 0;
  }
  .container {
    margin: 50px auto 0 auto;
    width: 50%;
  }
  #main-heading {
    font-size: 50px;
    margin: 50px 0;
  }
}

/* --------------------- highscore page -------------------- */
.highscore__container {
  box-shadow: 0 0 10px #000;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 10% auto;
  font-family: monospace;
}

.highscore__container h1 {
  /* color: rgb(79, 185, 18); */
  color: rgb(142, 91, 209);
  letter-spacing: 5px;
}

.highscore__container ul li {
  list-style: none;
  margin: 10px 0;
}

.highscore__container a {
  text-decoration: none;
  color: rgb(18, 194, 112);
  border: 1px solid rgb(43, 243, 150);
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.highscore__container a:hover {
  background-color: rgb(43, 243, 150);
  color: #fff;
}
